In [ ]:
from sqlalchemy import create_engine
import pandas as pd

DATABASE_URL = 'postgresql+psycopg2://postgres:postgres@localhost:5432/covid19_data'

In [3]:
engine = create_engine(DATABASE_URL)

In [6]:
# Query to select data from a table
query = "SELECT * FROM covid_full_data LIMIT 5;"

# Load data into a DataFrame
df = pd.read_sql(query, engine)

# Display the DataFrame
df

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
0,2020-01-05,Afghanistan,0.0,0.0,0,0,None,None,None,None
1,2020-01-06,Afghanistan,0.0,0.0,0,0,None,None,None,None
2,2020-01-07,Afghanistan,0.0,0.0,0,0,None,None,None,None
3,2020-01-08,Afghanistan,0.0,0.0,0,0,None,None,None,None
4,2020-01-09,Afghanistan,0.0,0.0,0,0,None,None,None,None